<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Créditos</h1>
    <p>
        Esta página ha sido creada por David Pisonero Fuentes e Ignacio Ortega Lobo.
    </p>

    <img src="/images/avatar.png" width="200" />
</body>
</html>